@font-face {
    font-family: 'uiicon';
    src:    url('fonts/uiicon.eot?t4nkly');
    src:    url('fonts/uiicon.eot?t4nkly#iefix') format('embedded-opentype'),
        url('fonts/uiicon.ttf?t4nkly') format('truetype'),
        url('fonts/uiicon.woff?t4nkly') format('woff'),
        url('fonts/uiicon.svg?t4nkly#uiicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="uicon-"], [class*=" uicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'uiicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uicon-check:before {
    content: "\f00c";
}
.uicon-expand:before {
    content: "\f065";
}
.uicon-compress:before {
    content: "\f066";
}
.uicon-calendar-o:before {
    content: "\f133";
}
.uicon-external-link-square:before {
    content: "\f14c";
}
.uicon-dollar:before {
    content: "\f155";
}
.uicon-usd:before {
    content: "\f155";
}
.uicon-bug:before {
    content: "\f188";
}
.uicon-weibo:before {
    content: "\f18a";
}
.uicon-tencent-weibo:before {
    content: "\f1d5";
}
.uicon-qq:before {
    content: "\f1d6";
}
.uicon-sliders:before {
    content: "\f1de";
}
.uicon-black-tie:before {
    content: "\f27e";
}
.uicon-share-qq:before {
    content: "\e901";
}
.uicon-share-fenxiang:before {
    content: "\e903";
}
.uicon-share-qqkongjian:before {
    content: "\e904";
}
.uicon-share-weibo:before {
    content: "\e906";
}
.uicon-search2:before {
    content: "\f002";
}
.uicon-envelope-o:before {
    content: "\f003";
}
.uicon-th-large:before {
    content: "\f009";
}
.uicon-th:before {
    content: "\f00a";
}
.uicon-th-list:before {
    content: "\f00b";
}
.uicon-cog:before {
    content: "\f013";
}
.uicon-trash-o:before {
    content: "\f014";
}
.uicon-home2:before {
    content: "\f015";
}
.uicon-download2:before {
    content: "\f019";
}
.uicon-inbox:before {
    content: "\f01c";
}
.uicon-refresh:before {
    content: "\f021";
}
.uicon-list-alt:before {
    content: "\f022";
}
.uicon-qrcode:before {
    content: "\f029";
}
.uicon-bookmark:before {
    content: "\f02f";
}
.uicon-image:before {
    content: "\f03e";
}
.uicon-photo:before {
    content: "\f03e";
}
.uicon-picture-o:before {
    content: "\f03e";
}
.uicon-pencil:before {
    content: "\f040";
}
.uicon-map-marker:before {
    content: "\f041";
}
.uicon-edit:before {
    content: "\f044";
}
.uicon-check-square-o:before {
    content: "\f046";
}
.uicon-chevron-left:before {
    content: "\f053";
}
.uicon-chevron-right:before {
    content: "\f054";
}
.uicon-plus-circle:before {
    content: "\f055";
}
.uicon-minus-circle:before {
    content: "\f056";
}
.uicon-times-circle:before {
    content: "\f057";
}
.uicon-check-circle:before {
    content: "\f058";
}
.uicon-question-circle:before {
    content: "\f059";
}
.uicon-exclamation-circle:before {
    content: "\f06a";
}
.uicon-gift:before {
    content: "\f06b";
}
.uicon-eye:before {
    content: "\f06e";
}
.uicon-exclamation-triangle:before {
    content: "\f071";
}
.uicon-warning:before {
    content: "\f071";
}
.uicon-calendar2:before {
    content: "\f073";
}
.uicon-retweet:before {
    content: "\f079";
}
.uicon-shopping-cart:before {
    content: "\f07a";
}
.uicon-folder:before {
    content: "\f07b";
}
.uicon-folder-open:before {
    content: "\f07c";
}
.uicon-sign-out:before {
    content: "\f08b";
}
.uicon-unlock:before {
    content: "\f09c";
}
.uicon-credit-card:before {
    content: "\f09d";
}
.uicon-hdd-o:before {
    content: "\f0a0";
}
.uicon-wrench:before {
    content: "\f0ad";
}
.uicon-paperclip:before {
    content: "\f0c6";
}
.uicon-bars:before {
    content: "\f0c9";
}
.uicon-list-ul:before {
    content: "\f0ca";
}
.uicon-magic:before {
    content: "\f0d0";
}
.uicon-caret-down:before {
    content: "\f0d7";
}
.uicon-caret-up:before {
    content: "\f0d8";
}
.uicon-lightbulb-o:before {
    content: "\f0eb";
}
.uicon-angle-left:before {
    content: "\f104";
}
.uicon-angle-right:before {
    content: "\f105";
}
.uicon-angle-up:before {
    content: "\f106";
}
.uicon-desktop:before {
    content: "\f108";
}
.uicon-laptop:before {
    content: "\f109";
}
.uicon-tablet:before {
    content: "\f10a";
}
.uicon-mobile:before {
    content: "\f10b";
}
.uicon-mobile-phone:before {
    content: "\f10b";
}
.uicon-chevron-circle-up:before {
    content: "\f139";
}
.uicon-ellipsis-h:before {
    content: "\f141";
}
.uicon-pencil-square:before {
    content: "\f14b";
}
.uicon-envelope-square:before {
    content: "\f199";
}
.uicon-codepen:before {
    content: "\f1cb";
}
.uicon-support:before {
    content: "\f1cd";
}
.uicon-toggle-off:before {
    content: "\f204";
}
.uicon-toggle-on:before {
    content: "\f205";
}
.uicon-map-pin:before {
    content: "\f276";
}
.uicon-map:before {
    content: "\f279";
}
.uicon-commenting:before {
    content: "\f27a";
}
.uicon-commenting-o:before {
    content: "\f27b";
}
.uicon-credit-card-alt:before {
    content: "\f283";
}
.uicon-shopping-bag:before {
    content: "\f290";
}
.uicon-print:before {
    content: "\78";
}
.uicon-home:before {
    content: "\e600";
}
.uicon-person:before {
    content: "\e601";
}
.uicon-uniE602:before {
    content: "\e602";
}
.uicon-cart:before {
    content: "\e603";
}
.uicon-comment:before {
    content: "\e604";
}
.uicon-new_comment:before {
    content: "\e605";
}
.uicon-customer-service:before {
    content: "\e606";
}
.uicon-store:before {
    content: "\e607";
}
.uicon-pay:before {
    content: "\e60b";
}
.uicon-search:before {
    content: "\e60c";
}
.uicon-help:before {
    content: "\e60d";
}
.uicon-pen:before {
    content: "\e60e";
}
.uicon-set:before {
    content: "\e60f";
}
.uicon-buy_after:before {
    content: "\e610";
}
.uicon-trance:before {
    content: "\e611";
}
.uicon-like:before {
    content: "\e612";
}
.uicon-heart:before {
    content: "\e613";
}
.uicon-search1:before {
    content: "\e614";
}
.uicon-uniE615:before {
    content: "\e615";
}
.uicon-location:before {
    content: "\e617";
}
.uicon-position:before {
    content: "\e618";
}
.uicon-code:before {
    content: "\e619";
}
.uicon-switch:before {
    content: "\e61a";
}
.uicon-Telephone:before {
    content: "\e61c";
}
.uicon-computer:before {
    content: "\e61f";
}
.uicon-File:before {
    content: "\e620";
}
.uicon-Printer:before {
    content: "\e622";
}
.uicon-usb_drive:before {
    content: "\e623";
}
.uicon-send_out:before {
    content: "\e624";
}
.uicon-wendang:before {
    content: "\e625";
}
.uicon-mail:before {
    content: "\e626";
}
.uicon-lock:before {
    content: "\e627";
}
.uicon-library:before {
    content: "\e629";
}
.uicon-file1:before {
    content: "\e62b";
}
.uicon-picture:before {
    content: "\e62d";
}
.uicon-cloud:before {
    content: "\e636";
}
.uicon-comments:before {
    content: "\e637";
}
.uicon-calendar:before {
    content: "\e638";
}
.uicon-protect:before {
    content: "\e639";
}
.uicon-compass:before {
    content: "\e63a";
}
.uicon-see:before {
    content: "\e63b";
}
.uicon-key:before {
    content: "\e63c";
}
.uicon-time:before {
    content: "\e63d";
}
.uicon-alarm_clock:before {
    content: "\e63e";
}
.uicon-tag:before {
    content: "\e643";
}
.uicon-news:before {
    content: "\e648";
}
.uicon-bank_card:before {
    content: "\e649";
}
.uicon-payment:before {
    content: "\e64a";
}
.uicon-pointer:before {
    content: "\e650";
}
.uicon-nothing:before {
    content: "\e654";
}
.uicon-coffee:before {
    content: "\e655";
}
.uicon-bad:before {
    content: "\e65c";
}
.uicon-medal:before {
    content: "\e65f";
}
.uicon-link:before {
    content: "\e661";
}
.uicon-upload:before {
    content: "\e662";
}
.uicon-download:before {
    content: "\e663";
}
.uicon-good_reputation:before {
    content: "\e667";
}
.uicon-statistics:before {
    content: "\e669";
}
.uicon-style:before {
    content: "\e66b";
}
.uicon-row2:before {
    content: "\e66c";
}
.uicon-ninedot:before {
    content: "\e66d";
}
.uicon-row:before {
    content: "\e66e";
}
.uicon-details:before {
    content: "\e66f";
}
.uicon-multifile:before {
    content: "\e675";
}
.uicon-uniE676:before {
    content: "\e676";
}
.uicon-uniE678:before {
    content: "\e678";
}
.uicon-uniE679:before {
    content: "\e679";
}
.uicon-more1:before {
    content: "\e67a";
}
.uicon-row3:before {
    content: "\e67b";
}
.uicon-remove:before {
    content: "\e67d";
}
.uicon-increase:before {
    content: "\e67e";
}
.uicon-yes:before {
    content: "\e67f";
}
.uicon-logo:before {
    content: "\e900";
}
.uicon-logo_text:before {
    content: "\e902";
}
.uicon-doucument:before {
    content: "\f02d";
}
.uicon-determine:before {
    content: "\f0e3";
}
.uicon-edu:before {
    content: "\f19d";
}
.uicon-translate:before {
    content: "\f1ab";
}
.uicon-paypal:before {
    content: "\f1f4";
}
.uicon-delete:before {
    content: "\f1f8";
}
.uicon-anonymous:before {
    content: "\f21b";
}
.uicon-gujia:before {
    content: "\f24e";
}
.uicon-create:before {
    content: "\e150";
}
.uicon-move_to_inbox:before {
    content: "\e168";
}
.uicon-unarchive:before {
    content: "\e169";
}
.uicon-access_alarms:before {
    content: "\e191";
}
.uicon-border_color:before {
    content: "\e22b";
}
.uicon-highlight:before {
    content: "\e25f";
}
.uicon-lens:before {
    content: "\e3fa";
}
.uicon-wb_incandescent:before {
    content: "\e42e";
}
.uicon-beenhere:before {
    content: "\e52d";
}
.uicon-local_cafe:before {
    content: "\e541";
}
.uicon-local_offer:before {
    content: "\e54e";
}
.uicon-local_play:before {
    content: "\e553";
}
.uicon-location_history:before {
    content: "\e55a";
}
.uicon-cancel:before {
    content: "\e5c9";
}
.uicon-unfold_more:before {
    content: "\e5d7";
}
.uicon-event_note:before {
    content: "\e616";
}
.uicon-check_circle:before {
    content: "\e86c";
}
.uicon-highlight_remove:before {
    content: "\e888";
}
.uicon-query_builder:before {
    content: "\e8ae";
}
.uicon-settings:before {
    content: "\e8b8";
}
.uicon-stars:before {
    content: "\e8d0";
}
.uicon-card_membership:before {
    content: "\e8f7";
}
.uicon-flight_takeoff:before {
    content: "\e905";
}
.uicon-gavel:before {
    content: "\e90e";
}
.uicon-beach_access:before {
    content: "\eb3e";
}

